<h3>
<a class="btn btn-sm btn-primary pull-right" href="/employee"><i class="fa fa-plus">&nbsp;</i>Create New</a>
Employee List
</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Full Name</td>
            <td>Email</td>
            <td>Mobile</td>
            <td>City</td>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>
                <a><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>